.blog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
@media screen and  (min-width:1677px){
    .blog{
        justify-content: unset !important;
    }
}